In [2]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#loading data
multiples=pd.read_csv("multiples.csv")
multiples

      y     x
0     0   0.0
1     1   1.0
2     4   2.0
3     9   4.0
4    16   4.0
5    25   5.0
6    36   6.0
7    49   7.0
8    64   8.0
9    81   9.0
10  100   NaN
11  121  11.0
12  144  12.0
13  169  13.0
14  196  14.0
15  225  14.0
16  256  16.0
17  289  17.0
18  324  18.0
19  361   NaN
20  400  20.0
21  441  21.0
22  484  22.0
23  529   NaN
24  576  24.0
25  625  25.0